<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notification</title>

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

      .rounded {
        border-radius: 8px;
      }

      @media only screen and (max-width: 600px) {
        body {
          padding: 0px !important;
        }

        .rounded {
          border-radius: 0px;
        }
      }
    </style>
  </head>
  <body
    style="
      font-family: 'Mulish', sans-serif;
      margin: 0 auto;
      width: 100%;
      max-width: 600px;
      padding: 5px;
      background-color: #ffffff;
    "
  >
    <p style="color: black; font-size: 16px; text-align: left; margin: 25px 0">
      {{ message }}
    </p>
    <hr />
    <p style="color: black; font-size: 16px; text-align: left; margin: 25px 0">
      Confidentiality Notice: This email was sent to {{email}}. If you’d rather
      not receive this kind of email, you can unsubscribe or manage your
      notification preferences.
    </p>
  </body>
</html>